h3 {
  text-align: center;
  font-weight: bolder;
}

header {
    background-color: lightcyan;
    text-align: center;
    margin-bottom: 20px;

}
/*NavBar*/

/* Adds styling to the left side of the page */
aside {
    background-color: antiquewhite;
    width: 50%;
    height: 100%;
    float: left;
}
article {
  background-color: antiquewhite;
  width: 50%;
  height: 100%;
  float: right;
}

/*Button to trigger the modal form*/
button.js-modal-trigger {
  background-color: #fc7753;
  color: #fefefe;
  padding: 10px 20px;
  cursor: pointer;
}



  h1 {
    font-size: 1.75rem;
    font-weight: bold;
  }

/*Cards*/
.card-header {
padding: 1.75rem 0;
}

.card-content {
padding: 3.5rem 0;
}

.card-footer {
padding: 1rem 0;
border: none;
font-size: .9rem;
color: lighten(black, 50%);
}
.card {
  display: flex;
  align-items: flex-end;
  background-color: #fc7753;
  margin: 20px;
  justify-content: center;
}

/*Section*/
section {
    background-color: antiquewhite;
    height: 100%;
    float: right;
}
/*Modal*/
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}
.modal {
  display: none;
  /* Hide the modal by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.modal-card-body {
  background-color: #66d7d1;
  color: #fc7753;
  margin-top: -20px;
  margin-bottom: -22px;
}

.modal-card-head {
  background-color: #fc7753;
  color: #fc7753;
}

.modal-card-foot {
  background-color: #fc7753;
  color: white;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover {
  color: black;
  text-decoration: none;
}
.hover-cursor {
  cursor: pointer;
}

/*Favourite Meals Display*/
.fav-container {
  background-color: #f7d7da;
  padding: 0.25rem 1rem;
  text-align: center;
}

.fav-meals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.fav-meals li {
  cursor: pointer;
  position: relative;
  margin: 5px;
  width: 75px;
}

.fav-meals li .clear {
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  font-size: 1.2rem;
}

.fav-meals li:hover .clear {
  opacity: 1;
}

.fav-meals li img {
  border: 2px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px #3333331a;
  object-fit: cover;
  height: 70px;
  width: 70px;
}

.fav-meals li span {
  display: inline-block;
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75px;
}
/*Favourite Cocktails Display*/
.fav-container {
  background-color: #f7d7da;
  padding: 0.25rem 1rem;
  text-align: center;
}

.fav-cocktails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.fav-cocktails li {
  cursor: pointer;
  position: relative;
  margin: 5px;
  width: 75px;
}

.fav-cocktails li .clear {
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  font-size: 1.2rem;
}

.fav-cocktails li:hover .clear {
  opacity: 1;
}

.fav-cocktails li img {
  border: 2px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px #3333331a;
  object-fit: cover;
  height: 70px;
  width: 70px;
}

.fav-cocktails li span {
  display: inline-block;
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75px;
}
.meal {
  border-radius: 3px;
  box-shadow: 0 0 10px 2px #3333331a;
  cursor: pointer;
  margin: 1.5rem;
  overflow: hidden;
}

.meal-header {
  position: relative;
}

.meal-header .random {
  position: absolute;
  top: 1rem;
  background-color: #f7e9d7;
  padding: 0.25rem 1rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.meal-header img {
  object-fit: cover;
  height: 250px;
  width: 100%;
}

.meal-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.meal-body h4 {
  margin: 0;
}

.meal-body .fav-btn {
  border: none;
  background-color: transparent;
  color: rgb(197, 188, 188);
  cursor: pointer;
  font-size: 1.2rem;
}

.meal-body .fav-btn.active {
  color: #e66b6b;
}

/*Favorite meal popup*/

.popup-container {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
/*Pop-up*/
.popup-container.hidden {
  opacity: 0;
  pointer-events: none;
}

.popup {
  background-color: #fff;
  border-radius: 5px;
  padding: 0 2rem;
  position: relative;
  overflow: auto;
  max-height: 95vh;
  max-width: 600px;
  width: 100%;
}

.popup .close-popup {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
/*Footer*/
footer {
  display: block;
  clear:both;
  background-color: lightcyan;
  text-align: center;
  margin top: 20px;
  

}